@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.inner-content {
    background-image:url('src\assets\office.jpg') ;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;

    height: 100vh;/* 100vh to make the background cover the entire viewport height */
    
    background-attachment: fixed;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.card-login{
    width: 320px; 
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.login-form-actions {
    margin-top: 16px;
    text-align: center;
}


.login-form {
    max-width: 300px;
}

.login-form-margin {
margin-bottom: 20px;
}

.login-card .login-form-forgot {
float: right;
color: #03417c; /* Adjust link color as needed */
text-decoration: none;
}

.login-register{
    text-decoration: none;
    color: #03417c; 
    font-weight: bold;
}

.login-form-button {
    margin-top: 5px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #2563eb;
    background-color:#2563eb ;
}
.login-form-button:hover{
    border: 1px solid #457aeb;
    background-color:#457aeb ;
}


nz-input-group{
    border-radius: 8px;
}

.login-card nz-input-group:hover{
    border-color: #001529;
}

.login-card nz-input-group:focus{
    border-color: #001529;
}

.sign-in-via {
    color: rgba(0,21,41,.35);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.sign-in-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: rgba(0,21,41,.35);
    font-weight: bold;
}

.hr-left,
.hr-right {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000; /* Adjust the border color and size */
}

.sign-in-text {
    margin: 0 10px; /* Adjust the margin as needed */
    font-weight: bold;
}

.sign-in-via-btn {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px; 
}


.social-google{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-repeat: no-repeat;
}


.social-fb span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fb-icon{
    font-size:25px;
    color: #3b5998;
}

.social-fb{
    background-color: white;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    min-width: 48px; 
    min-height: 48px;
}

.social-fb:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.social-fb:active{
    background-color: #eeeeee;
}

.social-fb:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
        0 0 0 3px #c8dafc;
}
    
.social-fb:disabled {
filter: grayscale(100%);
background-color: #ebebeb;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
cursor: not-allowed;
}
    


.social-google{
    background-position: center center;
    background-color: white;
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    min-width: 32px;
    padding-left: 0;
    min-width: 48px; 
    min-height: 48px;
   
}


.social-google:hover {
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}


.social-google:active {
background-color: #eeeeee;
}


.social-google:focus {
outline: none;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

.social-google:disabled {
filter: grayscale(100%);
background-color: #ebebeb;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
cursor: not-allowed;
}


.register-text{
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}


.register-text h1{
    font-weight: bold;
    font-size: 2.2rem;
    color:#2563eb ;
    
}

.register-span{
    color: #1677cb
}

/*error alert*/
.error{
    padding-bottom: 7px;
    width: 320px;
}