<nz-layout class="layout">
  
    <app-navbar></app-navbar>
    <nz-content>
        
        <div class="inner-content">
            <div class="card">
                <div class="register-text">
                    <h3>Create your account</h3>
               </div>
            
               

                    <div class="btn-grp">
                        <nz-space>
                            <button id="user-account-btn" *nzSpaceItem nz-button class="user-type-btn" (click)="selectedAccountType = 'USER'"   >User Account</button>
                            <button *nzSpaceItem nz-button  class="user-type-btn" (click)="selectedAccountType = 'COMPANY'">Company Account</button>
                        </nz-space>
                    </div>



                    <nz-alert nzType="error" nzCloseable [nzMessage]="emailExists" nzShowIcon  (nzOnClose)="afterCloseError()"
                    *ngIf="emailExists !=='' " class="emailExistsAlert"></nz-alert>

                    <nz-alert nzType="error" nzCloseable [nzMessage]="companyNameExists" nzShowIcon  (nzOnClose)="afterCloseError()"
                    *ngIf="companyNameExists !=='' " class="emailExistsAlert"></nz-alert>

                    <div *ngIf="selectedAccountType==='USER'">
                        <form nz-form [formGroup]="validateForm" >
                            <nz-input-group>
                                <div nz-row [nzGutter]="8">

                                <div nz-col nzSpan="12">
                                        <nz-form-item>
                                            <nz-form-control nzErrorTip="Please input your firstname">
                                                <nz-input-group nzPrefixIcon="user" class="input-pass">
                                                    <input nz-input nzRequired formControlName="firstname" placeholder="First Name" />
                                                </nz-input-group>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>

                                <div nz-col nzSpan="12">
                                        <nz-form-item>
                                            <nz-form-control nzErrorTip="Please input your lastname">
                                                <nz-input-group nzPrefixIcon="user" class="input-pass">
                                                    <input nz-input nzRequired formControlName="lastname" placeholder="Last Name"/>
                                                </nz-input-group>
                                            </nz-form-control>
                                        </nz-form-item>
                                </div>
                                </div>
                            </nz-input-group>

                            <nz-input-group>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control  nzHasFeedback [nzErrorTip]="emailErrorTpl">
                                                <nz-input-group nzPrefixIcon="mail" class="input-pass">
                                                    <input  nz-input nzRequired formControlName="email" placeholder="Enter your Email" type="email"/>
                                                </nz-input-group>
                                                <ng-template #emailErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('email')">This E-mail is not valid</ng-container>
                                                    <ng-container *ngIf="control.hasError('required')">Please input your E-mail</ng-container>
                                                    <ng-container *ngIf="control.hasError('duplicated')">This email already exists</ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                
                            </nz-input-group>
        
                            <nz-input-group>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control>
                                                <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock" class="input-pass">
                                                    <input
                                                        [type]="passwordVisible ? 'text' : 'password'"
                                                        nz-input
                                                        placeholder="Enter your new password"
        
                                                        formControlName="password"
                                                        (ngModelChange)="validateConfirmPassword()"
                                                       
                                                    />
                                                </nz-input-group>
                                                <ng-container *ngIf="validateForm.get('password')?.hasError('required')&&(validateForm.get('password')?.touched || validateForm.get('password')?.dirty) " >
                                                    <div class="errorPass">Please input your password</div>
                                                </ng-container>
        
                                                <ng-template #suffixTemplate>
                                                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" 
                                                    class="eye-icon-pass"
                                                    [class.error-icon]="validateForm.get('password')?.hasError('required') && (validateForm.get('password')?.touched || validateForm.get('password')?.dirty)"
                                                    ></i>
                                                </ng-template>
        
                                            </nz-form-control>
                                        
                                        </nz-form-item>
                                    </div>
                                    
        
                                </div>
                            </nz-input-group>
        
        
                            <nz-input-group>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control>
                                                <nz-input-group [nzSuffix]="suffixTemplateConf"  nzPrefixIcon="lock" class="input-pass">
                                                    <input
                                                        [type]="passwordVisibleConf ? 'text' : 'password'"
                                                        nz-input
                                                        placeholder="Confirm your new passsword"
                                                        formControlName="confirm"
                                    
                                                    />
                                                </nz-input-group>
                                                <ng-container *ngIf="validateForm.get('confirm')?.hasError('required')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty) " >
                                                    <div class="errorPass">Please confirm your password</div>
                                                </ng-container>
                
                                                <ng-container *ngIf="validateForm.get('confirm')?.hasError('confirm')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty) " >
                                                    <div class="errorPass">Password is inconsistent</div>
                                                </ng-container>
        
                                                <ng-template #suffixTemplateConf>
                                                    <i nz-icon [nzType]="passwordVisibleConf ? 'eye-invisible' : 'eye'" (click)="passwordVisibleConf = !passwordVisibleConf"
                                                    class="eye-icon-pass"
                                                    [class.error-icon]="(validateForm.get('confirm')?.hasError('required')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty) ) || ( validateForm.get('confirm')?.hasError('confirm')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty)     ) "
                                                    ></i>
                                                </ng-template>
        
                                            </nz-form-control>
                                        
                                        </nz-form-item>
                                    </div>
                                    
        
                                </div>
                            </nz-input-group>
        
        
                            <div class="btn-grp">
                                <nz-space>
                                    <button *nzSpaceItem nz-button class="submit-btn" (click)="submitForm()" >Submit</button>
                                    <button *nzSpaceItem nz-button  class="reset-btn" (click)="resetForm($event) ">Reset</button>
                                </nz-space>
                            </div>

                        </form>
                        
                    </div>

                    <div *ngIf="selectedAccountType==='COMPANY'">
                        <form nz-form [formGroup]="validateFormCompany" >
                            <nz-input-group>
                                <div nz-row >
                                    <div nz-col nzSpan="24">
                                            <nz-form-item>
                                                <nz-form-control  nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="companyNameErrorTpl">
                                                    <nz-input-group [nzPrefix]="buildingIcon" class="input-pass">
                                                        <input nz-input nzRequired formControlName="companyName" placeholder="Company Name"/>
                                                    </nz-input-group>
                                                    <ng-template #buildingIcon>
                                                        <fa-icon [icon]="myBuildingIcon"></fa-icon>
                                                    </ng-template>

                                                    <ng-template #companyNameErrorTpl let-control>
                                                        <ng-container *ngIf="control.hasError('required')">Please input your username!</ng-container>
                                                        <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container>
                                                    </ng-template>

                                                </nz-form-control>
                                            </nz-form-item>
                                    </div>
                                </div>
                            </nz-input-group>
    
                            <nz-input-group>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control  nzHasFeedback [nzErrorTip]="emailErrorTpl">
                                                <nz-input-group nzPrefixIcon="mail" class="input-pass">
                                                    <input  nz-input nzRequired formControlName="email" placeholder="Enter your Email" type="email"/>
                                                </nz-input-group>
                                                <ng-template #emailErrorTpl let-control>
                                                    <ng-container *ngIf="control.hasError('email')">This E-mail is not valid</ng-container>
                                                    <ng-container *ngIf="control.hasError('required')">Please input your E-mail</ng-container>
                                                    <ng-container *ngIf="control.hasError('duplicated')">This email already exists</ng-container>
                                                </ng-template>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                
                            </nz-input-group>
        
                            <nz-input-group>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control>
                                                <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock" class="input-pass">
                                                    <input
                                                        [type]="passwordVisibleCompany  ? 'text' : 'password'"
                                                        nz-input
                                                        placeholder="Enter your new password"
        
                                                        formControlName="password"
                                                        (ngModelChange)="validateConfirmPasswordCompany()"
                                                       
                                                    />
                                                </nz-input-group>
                                                <ng-container *ngIf="validateFormCompany.get('password')?.hasError('required')&&(validateFormCompany.get('password')?.touched || validateFormCompany.get('password')?.dirty) " >
                                                    <div class="errorPass">Please input your password</div>
                                                </ng-container>
        
                                                <ng-template #suffixTemplate>
                                                    <i nz-icon [nzType]="passwordVisibleCompany  ? 'eye-invisible' : 'eye'" (click)="passwordVisibleCompany  = !passwordVisibleCompany " 
                                                    class="eye-icon-pass"
                                                    [class.error-icon]="validateFormCompany.get('password')?.hasError('required') && (validateFormCompany.get('password')?.touched || validateFormCompany.get('password')?.dirty)"
                                                    ></i>
                                                </ng-template>
        
                                            </nz-form-control>
                                        
                                        </nz-form-item>
                                    </div>
                                    
        
                                </div>
                            </nz-input-group>
        
        
                            <nz-input-group>
                                <div nz-row>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control>
                                                <nz-input-group [nzSuffix]="suffixTemplateConf"  nzPrefixIcon="lock" class="input-pass">
                                                    <input
                                                        [type]="passwordVisibleConfCompany ? 'text' : 'password'"
                                                        nz-input
                                                        placeholder="Confirm your new passsword"
                                                        formControlName="confirm"
                                    
                                                    />
                                                </nz-input-group>
                                                <ng-container *ngIf="validateFormCompany.get('confirm')?.hasError('required')&&(validateFormCompany.get('confirm')?.touched || validateFormCompany.get('confirm')?.dirty) " >
                                                    <div class="errorPass">Please confirm your password</div>
                                                </ng-container>
                
                                                <ng-container *ngIf="validateFormCompany.get('confirm')?.hasError('confirm')&&(validateFormCompany.get('confirm')?.touched || validateFormCompany.get('confirm')?.dirty) " >
                                                    <div class="errorPass">Password is inconsistent</div>
                                                </ng-container>
        
                                                <ng-template #suffixTemplateConf>
                                                    <i nz-icon [nzType]="passwordVisibleConfCompany ? 'eye-invisible' : 'eye'" (click)="passwordVisibleConfCompany = !passwordVisibleConfCompany"
                                                    class="eye-icon-pass"
                                                    [class.error-icon]="(validateFormCompany.get('confirm')?.hasError('required')&&(validateFormCompany.get('confirm')?.touched || validateFormCompany.get('confirm')?.dirty) ) || ( validateFormCompany.get('confirm')?.hasError('confirm')&&(validateFormCompany.get('confirm')?.touched || validateFormCompany.get('confirm')?.dirty)     ) "
                                                    ></i>
                                                </ng-template>
        
                                            </nz-form-control>
                                        
                                        </nz-form-item>
                                    </div>
                                    
        
                                </div>
                            </nz-input-group>
        
        
                            <div class="btn-grp">
                                <nz-space>
                                    <button *nzSpaceItem nz-button class="submit-btn" (click)="submitFormCompany()" >Submit</button>
                                    <button *nzSpaceItem nz-button  class="reset-btn" (click)="resetFormCompany($event) ">Reset</button>
                                </nz-space>
                            </div>
                        </form>
                    </div>
                   
                <div class="login">
                    <p>Already has an account ? <span class="login-span"><a routerLink="/auth/login">LogIn</a></span></p>
                </div>
                
               
            </div>
        </div>
       
       
        
        
    </nz-content>
    <app-footer></app-footer>
    
</nz-layout>