<div nz-row class="site-info-container" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    
    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box">
           <h1>25+</h1>
           <h5>Job offers</h5>
           <p>We always provide the best for you</p>
        </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box">
            <h1>25+</h1>
            <h5>Talents</h5>
            <p>We always provide the best for you</p>
        </div>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box">
            <h1>25+</h1>
           <h5>Company</h5>
           <p>We always provide the best for you</p>
        </div>
    </div>

    
</div>