<div class="recruiters-container">
    <div nz-row class="top-text">
        <h2>Top Recruiters</h2>
    </div>
    <div nz-row> 
        <div nz-col nzSpan="12" nzOffset="6" class="txt-sub">
            <p>Discover your next career move, freelance gig, or internship</p>

        </div>

        <div nz-col nzSpan="6" class="carousel-btn">
            <button nz-button nzType="default" nzShape="circle" (click)="handlePrev()" class="btn-directions" ><fa-icon [icon]="leftIcon" class="carousel-icon"></fa-icon></button>
            <button nz-button nzType="default" nzShape="circle" (click)="handleNext()" class="btn-directions"><fa-icon [icon]="rightIcon" class="carousel-icon"></fa-icon></button>
        </div>
    </div>

    <div nz-row class="companies">
        <nz-carousel #carousel>
            <div nz-carousel-content *ngFor="let slide of companieSlides| slice:0:12" >
              <div nz-row nzGutter="4" class="carousel-container" >
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" *ngFor="let data of slide">
                        
                        <nz-card class="company-card">
                            <nz-card-meta
                            [nzAvatar]="avatarTemplate"
                            [nzTitle]="companyAdresse"
                            [nzDescription]="companyDescription"
                            ></nz-card-meta>
                            <p>{{data.nbJob}} Posted Job</p>
                            
                        </nz-card>
                        <ng-template #avatarTemplate>
                            <nz-avatar [nzSize]="'large'" [nzShape]="'square'" [nzSrc]="data.company.photo"  *ngIf="data.company.photo!==null"></nz-avatar>
                            <nz-avatar [nzSize]="'large'" [nzShape]="'square'" nzIcon="user" *ngIf="data.company.photo===null"></nz-avatar>
                        </ng-template>

                        <ng-template #companyAdresse>
                            <h4 class="company-title">{{data.company.companyName}}</h4>
                        </ng-template>

                        <ng-template #companyDescription>
                            <div class="job-location-title" *ngIf="data.company.adresse!==null">
                                <fa-icon [icon]="locationIcon"></fa-icon>
                                <p>{{data.company.adresse}}</p> 
                            </div>
                        </ng-template>
                    </div>
              </div>
            </div>
        </nz-carousel>
    </div>
</div>
