<nz-layout class="layout">
  
    <app-navbar></app-navbar>
    
    <nz-content>
      <div class="inner-content">

            <div class="card-login">

                <div class="register-text">
                    <h1>Job <span class="register-span">Finder</span></h1>
                </div>


                <div class="password-text">
                    <h3>Password Help</h3>
                    <p>Enter your new password</p>
                </div>

                <nz-alert nzType="success" nzCloseable [nzMessage]="resetSuccess" nzShowIcon  (nzOnClose)="afterClose()"
                *ngIf="resetSuccess !=='' " ></nz-alert>
                <nz-alert nzType="error" nzCloseable [nzMessage]="passwordExists" nzShowIcon  (nzOnClose)="afterClosePassExists()"
                *ngIf="passwordExists !=='' " ></nz-alert>

                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-input-group>
                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <nz-form-item>
                                    <nz-form-control>
                                        <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock" class="input-pass">
                                            <input
                                                [type]="passwordVisible ? 'text' : 'password'"
                                                nz-input
                                                placeholder="Enter your new password"

                                                formControlName="password"
                                                (ngModelChange)="validateConfirmPassword()"
                                               
                                            />
                                        </nz-input-group>
                                        <ng-container *ngIf="validateForm.get('password')?.hasError('required')&&(validateForm.get('password')?.touched || validateForm.get('password')?.dirty) " >
                                            <div class="errorPass">Please input your password</div>
                                        </ng-container>

                                        <ng-template #suffixTemplate>
                                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" 
                                            class="eye-icon-pass"
                                            [class.error-icon]="validateForm.get('password')?.hasError('required') && (validateForm.get('password')?.touched || validateForm.get('password')?.dirty)"
                                            ></i>
                                        </ng-template>

                                    </nz-form-control>
                                
                                </nz-form-item>
                            </div>
                            

                        </div>
                    </nz-input-group>


                    <nz-input-group>
                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <nz-form-item>
                                    <nz-form-control>
                                        <nz-input-group [nzSuffix]="suffixTemplateConf"  nzPrefixIcon="lock" class="input-pass">
                                            <input
                                                [type]="passwordVisibleConf ? 'text' : 'password'"
                                                nz-input
                                                placeholder="Confirm your new passsword"
                                                formControlName="confirm"
                            
                                            />
                                        </nz-input-group>
                                        <ng-container *ngIf="validateForm.get('confirm')?.hasError('required')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty) " >
                                            <div class="errorPass">Please confirm your password</div>
                                        </ng-container>
        
                                        <ng-container *ngIf="validateForm.get('confirm')?.hasError('confirm')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty) " >
                                            <div class="errorPass">Password is inconsistent</div>
                                        </ng-container>

                                        <ng-template #suffixTemplateConf>
                                            <i nz-icon [nzType]="passwordVisibleConf ? 'eye-invisible' : 'eye'" (click)="passwordVisibleConf = !passwordVisibleConf"
                                            class="eye-icon-pass"
                                            [class.error-icon]="(validateForm.get('confirm')?.hasError('required')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty) ) || ( validateForm.get('confirm')?.hasError('confirm')&&(validateForm.get('confirm')?.touched || validateForm.get('confirm')?.dirty)     ) "
                                            ></i>
                                        </ng-template>

                                    </nz-form-control>
                                
                                </nz-form-item>
                            </div>
                            

                        </div>
                    </nz-input-group>

                    <div class="login-form-actions">
                        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Retrieve password</button>
                    </div>
        
                    <div>
                        <a class="back-sign-in" routerLink="/auth/forgot-password"><span nz-icon nzType="arrow-left" nzTheme="outline"></span>Back to forgot password</a>
                    </div>

                </form>

              
            </div>
        </div>
    </nz-content>

    <app-footer></app-footer>
</nz-layout>
