@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.inner-content {
    background-image:url('src\assets\office.jpg') ;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;

    height: 100vh;/* 100vh to make the background cover the entire viewport height */
    
    background-attachment: fixed;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.card-login{
    width: 320px; 
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

/*pass fields*/


.input-pass{
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
}

.input-pass:hover{
    border-color: #2563eb;
}

.input-pass:focus{
    border-color: #2563eb;
}

.error-icon{
    color: #ff4d4f; 
}

.errorPass{
    color: #ff4d4f;
}



.ant-input-group .ant-input-affix-wrapper:not(:last-child){
    border-radius: 8px;
}

nz-alert{
    margin-bottom: 5px;
    margin-right: 90px;
}
/*pass fields*/

.login-form-actions {
    margin-top: 16px;
    text-align: center;
}


.login-form-actions {
    margin-top: 16px;
    text-align: center;
}


.login-form {
    max-width: 300px;
}

.login-form-margin {
margin-bottom: 20px;
}

.login-card .login-form-forgot {
float: right;
color: #03417c; /* Adjust link color as needed */
text-decoration: none;
}

.login-register{
    text-decoration: none;
    color: #03417c; 
    font-weight: bold;
}

.login-form-button {
    margin-top: 5px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #2563eb;
    background-color:#2563eb ;
}
.login-form-button:hover{
    border: 1px solid #457aeb;
    background-color:#457aeb ;
}

/*texts*/

.register-text{
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}


.register-text h1{
    font-weight: bold;
    font-size: 2.2rem;
    color:#2563eb ;
    
}

.register-span{
    color: #1677cb
}

h3{
    font-weight: bold;
}
.password-text{
    padding-bottom: 10px;
}

.error{
    padding-bottom: 7px;
    width: 320px;
}

nz-alert{
    width: 280px;
}
