<div class="profile">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8">
            <div class="profile-btn">

                <a routerLink="/account/company-profile" nz-button nzType="text" class="btn-user-profile" (click)="selectedProfileOption = 'profile'"> <fa-icon [icon]="profileIcon" class="profile-icon"></fa-icon>My profile</a>
                <a nz-button nzType="text" class="btn-user-profile"  [routerLink]="['/account/company-profile']" [queryParams]="{ selectedProfileOption: 'jobs' }"> <fa-icon [icon]="jobIcon" class="profile-icon"></fa-icon>Posted Jobs</a>
                <a nz-button nzType="text" class="btn-user-profile" [routerLink]="['/account/company-profile']" [queryParams]="{ selectedProfileOption: 'security' }"> <fa-icon [icon]="securityIcon" class="profile-icon"></fa-icon>Security</a>
                <button nz-button nzType="text" class="logout-btn"><i nz-icon nzType="logout" nzTheme="outline" class="logoutIcon"></i>Logout</button>

            </div>
        </div>
            
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16">
                
            <!--Job Candidates-->
            <div>
                <div nz-row class="top-text">
                    <h3>Candidates For <a routerLink="/job-detail/{{jobCandidates.id}}" class="top-text-link">{{jobCandidates.title}} Job</a></h3> 
                
                </div>

                    
                <div nz-row class="search-container">
                    <div nz-col [nzSpan]="12">
                        <div class="job-search">
                            <input nz-input  placeholder="Search by candidate name, email..."  class="job-search-input" [(ngModel)]="searchUser" (keyup)="searchUsers()"/>
                            <button nz-button  [nzType]="'primary'" class="job-serach-btn"><i nz-icon nzType="search" ></i></button>
                        </div>
                    </div>

                    <div nz-col [nzSpan]="12" class="candidates-num">
                        <p>Showing : <span class="jobs-num">{{searchResult.length}}</span> candidate</p>
                    </div>
                </div>

                <div class="job-cards">
                    <div *ngIf="searchResult.length==0">
                        
                       <nz-alert nzType="info" nzMessage="There's no candidates at the moment"></nz-alert>
                    </div>
                    <div nz-row nzGutter="7" >
                        <div nz-col  [nzXs]="24" [nzSm]="12" [nzMd]="8" *ngFor="let user of searchResult.slice(startIndexCandidate, endIndexCandidate)">
                        
                            <nz-card class="candidate-card">
                                <nz-card-meta
                                [nzAvatar]="avatarTemplate"
                                [nzTitle]="titleTemplate"
                                [nzDescription]="cardDescription"
                                ></nz-card-meta>

                                <div nz-row  class="card-description">
                                    <p *ngIf="!user.aboutMe">No description provided</p>
                                    <div *ngIf="user.aboutMe">
                                        <p class="candidate-info" *ngIf="user.aboutMe.length<100">{{user.aboutMe}}</p>
                                        <p class="candidate-info" *ngIf="user.aboutMe.length>100">{{user.aboutMe.slice(0,100)}}...</p>
                                    </div>  
                                </div>

                                <div nz-row class="candidate-skills" *ngIf="user.candidateSkills" nzGutter="4">
                                    <div nz-col  [nzXs]="24" [nzSm]="12" [nzMd]="8" *ngFor="let skill of user.candidateSkills |slice:0:6" >
                                        <p class="candidate-skill">{{skill.skill}}</p> 
                                    </div>
                                </div>
                            </nz-card>
                            <ng-template #avatarTemplate>
                                <nz-avatar [nzSize]="64" [nzSrc]="user.photo"  *ngIf="user.photo!==null"></nz-avatar>
                                <nz-avatar [nzSize]="64" nzIcon="user" *ngIf="user.photo===null"></nz-avatar>                        
                            </ng-template>

                            <ng-template #titleTemplate>
                                <h5 class="candidate-title"><a routerLink="/account/candidate-detailes" class="candidate-title" (click)="goToCandidate(user.id)">{{user.firstname}} {{user.lastname}}</a></h5>
                            </ng-template>

                            <ng-template #cardDescription >
                                <div class="candidate-email">
                                    <p >{{user.email}}</p>
                                </div>
                            </ng-template>
    
                        </div> 
                        
                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <div class="pagination">
                                <nz-pagination [nzPageIndex]="currentPageCandidate" [nzPageSize]="itemsPerPageCandidate" [nzTotal]="totalCandidates" (nzPageIndexChange)="currentPageCandidate = $event"></nz-pagination>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Job Candidates-->


            </div>

        
    </div>
</div>