<div class="job-detail">
    <div nz-row [nzGutter]="30">
        <div nz-col nzFlex="750px">
           
            <nz-card>
                <nz-card-meta
                    [nzAvatar]="avatarTemplate"
                    [nzTitle]="titleCard"
                    [nzDescription]="descCard"
                ></nz-card-meta>

                <div nz-row [nzGutter]="10" class="job-details">
                    <div nz-col nzSpan="6">
                        <div class="job-square-salary">
                            <div class="job-square-txt-salary">
                                <span>Salary</span>
                                <p>1200$</p>
                            </div> 
                        </div>
                       
                    </div>

                    <div nz-col nzSpan="6">
                        <div class="job-square-job">
                            <div class="job-square-txt-job">
                                <span>Job Type</span>
                                <p *ngIf="job.jobType==='Full_Time'">Full Time</p>
                                <p *ngIf="job.jobType==='Part_Time'">Part Time</p>
                                <p *ngIf="job.jobType==='Intern'">Intership</p>
                            </div> 
                        </div>
                    </div>

                    <div nz-col nzSpan="6">
                        <div class="job-square-applicants">
                            <div class="job-square-txt-applicants">
                                <span>No. of Applicants</span>
                                <p>4K</p>
                            </div> 
                        </div>
                    </div>

                    <div nz-col nzSpan="6">
                        <div class="job-square-deadline">
                            <div class="job-square-txt-deadline">
                                <span>Deadline</span>
                                <p>Countdown: {{ remainingTime.days }} days, {{ remainingTime.hours }} hours, {{ remainingTime.minutes }} minutes</p>

                                <nz-countdown [nzValue]="countDownTime" [nzTitle]="'Countdown'" ></nz-countdown>
                            </div> 
                        </div>
                    </div>
                </div>

                <div nz-row nzGutter="20">
                
                    <div nz-col nzSpan="12">
                        <div class="card-btn">
                            <button [ngClass]="{'active': isbtnActive}" (click)="isbtnActive = true"  nz-button nzType="primary" class="job-detail-btn active" (click)="selected = 'jobDesc'">Job Description</button>
                        </div>
                    </div>

                    <div nz-col nzSpan="12">
                        <div class="card-btn">
                            <button [ngClass]="{'active': !isbtnActive}" (click)="isbtnActive = false" nz-button nzType="primary" class="job-detail-btn" (click)="selected = 'company'">Company</button>
                        </div>
                    </div>
                </div>

                <div nz-row *ngIf="selected==='jobDesc'">
                    <div class="job-desc-detailes">
                        <h3>Job Description</h3>
                        <p >{{job.description}}</p>
                    </div>

                    <div class="job-desc-detailes">
                        <h3>Requirement</h3>
                        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aperiam esse nam minima? Nihil aspernatur accusantium aut possimus corporis, neque repellat maxime voluptatum suscipit consequatur, quos impedit ratione excepturi eum.</p>
                    </div>

                    <button nz-button nzType="primary" class="job-detail-btn apply-btn">Apply Now</button>
                </div>

                <div nz-row *ngIf="selected==='company'">
                    <div class="company-info">
                        <a>{{job.companyName}}</a>
                       
                        <p>
                            <i nz-icon nzType="mail" nzTheme="outline"></i> <span> {{job.companyEmail}}</span><br>
                            <fa-icon [icon]="myLocationIcon"></fa-icon> <span> Job location</span> 
                        </p>
                        
                        
                    </div>

                    <div class="job-desc-detailes">
                        <h3>About Company</h3>
                        <p>{{job.companyAbout}}</p>
                    </div>

                    <button nz-button nzType="primary" class="job-detail-btn apply-btn">Apply Now</button>
                </div>

                




            </nz-card>


            <ng-template #avatarTemplate>
                <nz-avatar [nzSize]="64" [nzSrc]="job.companyPhoto"  *ngIf="job.companyPhoto!==null"></nz-avatar>
                <nz-avatar [nzSize]="64"  nzIcon="user" *ngIf="job.companyPhoto===null"></nz-avatar>
            </ng-template>

            <ng-template #titleCard>
                <p class="job-title">{{job.title}}</p>
                <div class="job-location-title">
                    <fa-icon [icon]="myLocationIcon"></fa-icon>
                    <p>{{job.location}}</p> 
                </div>
               <p class="company-name"><a routerLink="/">{{job.companyName}}</a></p>
            </ng-template>

            <ng-template #descCard >
                <p class="cardDesc">{{formatDate(job.created_at)}}</p>
            </ng-template>

            
        </div>

        <div nz-col nzFlex="auto">
            <p class="similar-job-txt">Similar job Post</p>
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                    <nz-card  class="similar-job-card">
                    
                        <nz-card-meta
                        [nzAvatar]="avatarTemplate"
                        [nzTitle]="titleCard"
                        ></nz-card-meta>
    
                        <div nz-row [nzGutter]="74" class="card-footer">
                            <div nz-col>
                                <p class="job-type">Full-Time</p>
                            </div>
    
                            <div nz-col>
                                <p class="job-date">a minute ago</p>
                            </div>
                        </div>
                        
                    </nz-card>
                    <ng-template #avatarTemplate>
                        <nz-avatar  nzSrc="../assets/office.jpg"></nz-avatar>
                    </ng-template>
    
                    <ng-template #titleCard>
                        <p class="job-title">Job Title</p>
                        <div class="job-location-title">
                            <fa-icon [icon]="myLocationIcon"></fa-icon>
                            <p>Job location</p> 
                        </div>
                    </ng-template>
                </div>

                <div nz-col nzSpan="12">
                    <nz-card  class="similar-job-card">
                    
                        <nz-card-meta
                        [nzAvatar]="avatarTemplate"
                        [nzTitle]="titleCard"
                        ></nz-card-meta>
    
                        <div nz-row [nzGutter]="74" class="card-footer">
                            <div nz-col>
                                <p class="job-type">Full-Time</p>
                            </div>
    
                            <div nz-col>
                                <p class="job-date">a minute ago</p>
                            </div>
                        </div>
                        
                    </nz-card>
                    <ng-template #avatarTemplate>
                        <nz-avatar  nzSrc="../assets/office.jpg"></nz-avatar>
                    </ng-template>
    
                    <ng-template #titleCard>
                        <p class="job-title">Job Title</p>
                        <div class="job-location-title">
                            <fa-icon [icon]="myLocationIcon"></fa-icon>
                            <p>Job location</p> 
                        </div>
                    </ng-template>
                </div>

            </div>

            <!-- yetaawed -->
            <div nz-row [nzGutter]="8">
                <div nz-col nzSpan="12">
                    <nz-card  class="similar-job-card">
                    
                        <nz-card-meta
                        [nzAvatar]="avatarTemplate"
                        [nzTitle]="titleCard"
                        ></nz-card-meta>
    
                        <div nz-row [nzGutter]="74" class="card-footer">
                            <div nz-col>
                                <p class="job-type">Full-Time</p>
                            </div>
    
                            <div nz-col>
                                <p class="job-date">a minute ago</p>
                            </div>
                        </div>
                        
                    </nz-card>
                    <ng-template #avatarTemplate>
                        <nz-avatar  nzSrc="../assets/office.jpg"></nz-avatar>
                    </ng-template>
    
                    <ng-template #titleCard>
                        <p class="job-title">Job Title</p>
                        <div class="job-location-title">
                            <fa-icon [icon]="myLocationIcon"></fa-icon>
                            <p>Job location</p> 
                        </div>
                    </ng-template>
                </div>

                <div nz-col nzSpan="12">
                    <nz-card  class="similar-job-card">
                    
                        <nz-card-meta
                        [nzAvatar]="avatarTemplate"
                        [nzTitle]="titleCard"
                        ></nz-card-meta>
    
                        <div nz-row [nzGutter]="74" class="card-footer">
                            <div nz-col>
                                <p class="job-type">Full-Time</p>
                            </div>
    
                            <div nz-col>
                                <p class="job-date">a minute ago</p>
                            </div>
                        </div>
                        
                    </nz-card>
                    <ng-template #avatarTemplate>
                        <nz-avatar  nzSrc="../assets/office.jpg"></nz-avatar>
                    </ng-template>
    
                    <ng-template #titleCard>
                        <p class="job-title">Job Title</p>
                        <div class="job-location-title">
                            <fa-icon [icon]="myLocationIcon"></fa-icon>
                            <p>Job location</p> 
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>

    </div>
</div>
