<div class="profile">
  
    <div nz-row [nzGutter]="8">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8">
            <div class="profile-btn">

                <button nz-button nzType="text" class="btn-user-profile" (click)="selectedProfileOption = 'profile'"> <fa-icon [icon]="profileIcon" class="profile-icon"></fa-icon>My profile</button>
                <button nz-button nzType="text" class="btn-user-profile" (click)="selectedProfileOption = 'jobs'" > <fa-icon [icon]="jobIcon" class="profile-icon"></fa-icon>Posted Jobs</button>
                <button nz-button nzType="text" class="btn-user-profile" (click)="selectedProfileOption = 'security'"> <fa-icon [icon]="securityIcon" class="profile-icon"></fa-icon>Security</button>
                <button nz-button nzType="text" class="logout-btn"><i nz-icon nzType="logout" nzTheme="outline" class="logoutIcon"></i>Logout</button>

            </div>
    
        </div>

        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="16" [nzLg]="16">
            
            <!--PROFILE USER-->
            <div *ngIf="selectedProfileOption === 'profile'">
                <div nz-row [nzGutter]="8">
                    <div nz-col [nzSpan]="12" class="profile-form">
                        <h3 class="profile-title">Welcome Back, {{user.companyName}}</h3>
                        <nz-alert nzType="success" nzCloseable nzMessage={{profileUpdatedSucc}} nzShowIcon  (nzOnClose)="afterCloseProfile()"
                        *ngIf="profileUpdatedSucc !=='' " ></nz-alert>

                        <form nz-form nzLayout="vertical"  [formGroup]="validateForm" (ngSubmit)="submitForm()" >
                            <div nz-row >
            
                                <div nz-col [nzSpan]="24">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="vertical" class="form-label">Company Name</nz-form-label>
                                        <nz-form-control nzSpan="vertical" [nzErrorTip]="companynameErrorTemplate">
                                            <input nz-input  placeholder="Company Name"  formControlName="companyName" class="form-input"/>
                                            <ng-template #companynameErrorTemplate>
                                            <div  *ngIf="validateForm.get('companyName')?.value === '' && validateForm.get('companyName')?.hasError('required')" class="error-message">FirstName is required</div>
                                            </ng-template>
                                        </nz-form-control>
                                    </nz-form-item>
                    
                                    
                                </div>
                            
                            </div>

                            
                            
                            <div nz-row >
            
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="vertical" class="form-label">Email</nz-form-label>
                                        <nz-form-control nzSpan="vertical" >
                                            <input nz-input [value]="user.email"  placeholder="Email"  [disabled]="true" class="form-input" />
                                        </nz-form-control>
                                    </nz-form-item>
                
                                </div>
            
                                <div nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="vertical" class="form-label">Phone</nz-form-label>
                                        <nz-form-control nzSpan="vertical" nzErrorTip="Your phone is not valid">
                                            <input nz-input  placeholder="Phone"  formControlName="phone" class="form-input" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>

                            <div nz-row>
                                <div nz-col [nzSpan]="24">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="vertical" class="form-label">Adresse</nz-form-label>
                                        <nz-form-control nzSpan="vertical">
                                            <input nz-input  placeholder="Adresse" formControlName="adresse" class="form-input" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
            
                            <div nz-row>
            
                                <div nz-col nzSpan="24">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="vertical" class="form-label">About Us</nz-form-label>
                                        <nz-form-control nzSpan="vertical" >
                                            <textarea rows="4" nz-input formControlName="aboutMe" class="form-input about-input" placeholder="Write something about your company.." ></textarea>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
            
                                
                            </div>
            
                            <button nz-button class="update-form-btn" [nzType]="'primary'">Save Changes</button>
            
                        </form>
                    </div>

                    <div nz-col nzSpan="12" class="profile-card">
                        <nz-card class="user-info-card">
                            <div nz-row class="user-photo">
                                <div nz-col>
                                    <img [src]="this.uploadedPhoto || user.photo" alt="user" class="user-img" *ngIf="uploadedPhoto!=null || user.photo!==null">
                                    <ng-container *ngIf="uploadedPhoto === null && user.photo===null">
                                        <nz-avatar  nzShape="square" nzText={{getFirstLetter(user.companyName)}} class="user-avatar" ></nz-avatar>
                                    </ng-container>
                                </div>
                                <div nz-col class="btn-container">
                                    <button nz-button nzType="default" nzShape="circle" (click)="showModalMiddle()">
                                        <fa-icon [icon]="updateImgIcon" class="update-img-icon"></fa-icon>
                                    </button>

                                    <!--MODAL-->
                                    <nz-modal
                                        [(nzVisible)]="isVisibleMiddle"
                                        nzTitle="Update your profile picture"
                                        nzCentered
                                        (nzOnCancel)="handleCancelMiddle()"
                                        (nzOnOk)="handleOkMiddle()"
                                        [nzFooter]="null" >
                                        <ng-container *nzModalContent>
                                        
                                            <div class="modal-but-container">
                                                <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput/>
                                                <button nz-button nzType="default"  class="modal-btn-update" (click)="triggerFileInputClick()">Update profile picture</button>
                                                

                                                <hr  style="width: 100%;">
                                                <button nz-button nzType="default" class="modal-btn-delte"  (click)="deleteCurrentPhoto()"  [disabled]="user.photo === null">Reset profile picture</button>
                                            </div>
                                        
                                        </ng-container>
                                    </nz-modal>

                                    <!--END MODAL-->
                                </div>

                                
                                

                            </div>
                            <div nz-row class="user-info">
                               <h3>{{user.companyName}}</h3>
                               <p>{{user.email}}</p>
                            </div>
                        </nz-card>
                    </div>   
                </div>
            </div>
            <!--PROFILE USER-->
            
                
        
            <!--COMPANY JOBS-->
            <div *ngIf="selectedProfileOption==='jobs'">
                <div nz-row class="top-text">
                    <h3>Posted Jobs</h3> 
                </div>
                <div nz-row>
                    <div nz-col nzFlex="3">
                        <div class="job-search">
                            <input nz-input  placeholder="Search for job"  class="job-search-input" [(ngModel)]="search" (keyup)="searchJob()"/>
                            <button nz-button  [nzType]="'primary'" class="job-serach-btn"><i nz-icon nzType="search" ></i></button>
                        </div>
                       

                    </div>

                    <div nz-col nzFlex="2" class="add-job-container" >
                        <button nz-button class="update-form-btn" [nzType]="'primary'" (click)="addJobModal()">Add Job</button>

                        <!--ADD JOB MODAL-->
                            <nz-modal
                                [(nzVisible)]="jobModal"
                                nzTitle="Add a job"
                                nzCentered
                                (nzOnCancel)=" handleCancelJobModal()"
                                (nzOnOk)="handleOkJobModal()"
                                [nzFooter]="null" >
                                <ng-container *nzModalContent>
                                    <!--STEPPER-->
                                   <div nz-row>
                                        <div nz-col nzSpan="24">
                                            <nz-steps [nzCurrent]="current">
                                                <nz-step nzTitle="Job description"></nz-step>
                                                <nz-step nzTitle="Requirements"></nz-step>
                                                <nz-step nzTitle="Finishing"></nz-step>
                                            </nz-steps>
                                    
                                            <div class="steps-content">
                                                <div *ngIf="this.index==='First-content'">
                                                    <form nz-form nzLayout="vertical" [formGroup]="addJobFormStep1" >
                                                        <div nz-row>
                                
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label" >Job Title</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" nzErrorTip="Please input a title">
                                                                        <input nz-input formControlName="title" class="form-input-job"  placeholder="Title"  />
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                               
                                                            </div>
                                                        </div>

                                                        <div nz-row nzGutter="8">
                                
                                                            <div nz-col nzSpan="12">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label">Job Type</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical"  nzErrorTip="Please select a job type" >
                                                                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Type" formControlName="jobType"  >
                                                                            <nz-option *ngFor="let type of jobType" [nzLabel]="type" [nzValue]="type"></nz-option>
                                                                        </nz-select>
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                               
                                                            </div>
                                                            <div nz-col nzSpan="12">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label"  nzErrorTip="Please select a job industry">Job Industry</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" nzErrorTip="Please select a job industry">
                                                                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Industry" formControlName="sector" >
                                                                            <nz-option *ngFor="let type of jobSector" [nzLabel]="type" [nzValue]="type"></nz-option>
                                                                        </nz-select>
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                               
                                                            </div>
                                                        </div>

                                                        <div nz-row>
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label">Description</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" >
                                                                        <textarea rows="4" nz-input formControlName="description" class="form-input about-input-job" placeholder="Write something about your company.." ></textarea>
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                            </div>
                                                        </div>

                                                       
                                                        
                                                    </form>

                                                </div>

                                                <div *ngIf="this.index==='Second-content'">
                                                    <form nz-form nzLayout="vertical" [formGroup]="addJobFormStep2">
                                                        <div nz-row>
                                
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label" >Experience </nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required experience">
                                                                        <input nz-input formControlName="experience" class="form-input-job"  placeholder="Required experience"  />
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                               
                                                            </div>
                                                        </div>

                                                        <div nz-row>
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label">Job Level</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required job level">
                                                                        <input nz-input formControlName="diploma" class="form-input-job"  placeholder="Required Job Level"  />
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                            </div>
                                                        </div>

                                                        <div nz-row>
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label">Skills</nz-form-label>
        
                                                                    <nz-form-control nzSpan="vertical">
                                                                       <div class="tags-container">
                                                                            <div class="tags-display">
                                                                                <nz-tag
                                                                                *ngFor="let tag of tags; let i = index"
                                                                                [nzMode]="'closeable'"
                                                                                (nzOnClose)="handleClose(tag)"
                                                                                class="tag">
                                                                                {{ sliceTagName(tag) }}
                                                                                </nz-tag>
                                                                            </div>
                                                                            
                                                                            <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()" class="new-tag">
                                                                                <i nz-icon nzType="plus"></i>
                                                                                Add SKill
                                                                            </nz-tag>
                                                                            <input
                                                                                #inputElement
                                                                                nz-input
                                                                                *ngIf="inputVisible"
                                                                                type="text"
                                                                                [formControl]="inputValueControl"
                                                                                (blur)="handleInputConfirm()"
                                                                                (keydown.enter)="handleInputConfirm()"
                                                                                class="form-input-job"
                                                                            />
                                                                       </div>


                                                                    </nz-form-control>
                                                                   
                                                                </nz-form-item>
                                                            </div>
                                                        </div>

                                                       
                                                        
                                                    </form>

                                                </div>

                                                <div *ngIf="this.index==='third-content'">
                                                    <form nz-form nzLayout="vertical" [formGroup]="addJobFormStep3" (ngSubmit)="addJob()">
                                                        <div nz-row>
                                
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label" >Job Location</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required experience">
                                                                        <input nz-input formControlName="location" class="form-input-job"  placeholder="Location"  />
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                               
                                                            </div>
                                                        </div>

                                                        <div nz-row>
                                                            <div nz-col nzSpan="24">
                                                                <nz-form-item>
                                                                    <nz-form-label nzSpan="vertical" class="form-label">Deadline</nz-form-label>
                                                                    <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required job level">
                                                                        <nz-date-picker
                                                                            nzFormat="yyyy-MM-dd HH:mm:ss"
                                                                            [nzDisabledDate]="disabledDate"
                                                                            [nzDisabledTime]="disabledDateTime"
                                                                            [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }"
                                                                            formControlName="deadLine"
                                                                            class="datePicker"
                                                                        ></nz-date-picker>
                                                                    </nz-form-control>
                                                                </nz-form-item>
                                                            </div>
                                                        </div>

                                                       

                                                       
                                                        
                                                    </form>

                                                </div>
                                            </div>


                                            <div class="steps-action">
                                                    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0" class="stepper-btn">
                                                    <span>Previous</span>
                                                    </button>
                                                    <button nz-button nzType="default" (click)="next()" *ngIf="current < 2" class="stepper-btn">
                                                    <span>Next</span>
                                                    </button>
                                                    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2" class="stepper-btn">
                                                    <span>Add Job</span>
                                                    </button>
                                            </div>
                                        </div>
                                        
                                   </div>
                                   <!--STEPPER-->
                                </ng-container>
                            </nz-modal>
                        <!--ADD JOB MODAL-->
                    </div>
                </div>
                <div class="job-cards">
                   <div nz-row  *ngFor="let job of searchJobs.slice(startIndexSearch, endIndexSearch) " >

                        <nz-card  [nzActions]="[viewMore, applyQuick, candidates,deleteJob]" class="job-card" >
                            
                            <nz-card-meta
                            [nzAvatar]="avatarTemplate"
                            [nzTitle]="titleCard"
                            [nzDescription]="descriptionTmpl"
                            ></nz-card-meta>

                            <div nz-row [nzGutter]="128" class="card-footer">
                                <div nz-col [nzSpan]="12">
                                    <div class="job-type-container">
                                        <p class="job-type"  *ngIf="job.jobType==='Full_Time'">Full Time</p>
                                        <p class="job-type"  *ngIf="job.jobType==='Part_Time'">Part Time</p>
                                        <p class="job-type"  *ngIf="job.jobType==='Intern'">Intership</p>
                                    </div>
                                </div>

                                <div nz-col [nzSpan]="12">
                                    <div class="job-date-container">
                                        <p class="job-date">{{formatDate(job.created_at)}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </nz-card>
                        <ng-template #avatarTemplate>
                            <nz-avatar [nzSize]="64" [nzSrc]="job.companyPhoto"  *ngIf="job.companyPhoto!==null"></nz-avatar>
                            <nz-avatar [nzSize]="64"  nzIcon="user" *ngIf="job.companyPhoto===null"></nz-avatar>
                        
                        </ng-template>

                        <ng-template #titleCard>
                            <p class="job-title">{{job.title}}</p>
                            <div class="job-location-title">
                                <fa-icon [icon]="myLocationIcon"></fa-icon>
                                <p>{{job.location}}</p> 
                            </div>
                        </ng-template>

                        <ng-template #descriptionTmpl>
                            <p class="card-description" *ngIf="job.description.length<100">{{job.description}}</p>
                            <p class="card-description" *ngIf="job.description.length>100">{{job.description.slice(0,100)}}...</p>            

                        </ng-template>
            
                        <ng-template #viewMore>
                            <a routerLink="/job-detail/{{job.id}}" nz-tooltip nzTooltipTitle="View more"><i nz-icon nzType="eye" ></i></a>
                        </ng-template>
            
                        <ng-template #applyQuick>
                            <button nz-button (click)="updateJobModal(job.id)"  class="update-job-btn" nz-tooltip nzTooltipTitle="Update Job"><fa-icon [icon]="updateIcon" ></fa-icon></button>

                           

                            <!--UPDATE JOB MODAL-->
                                <nz-modal
                                    [(nzVisible)]="updateModal"
                                    nzTitle="Add a job"
                                    nzCentered
                                    (nzOnCancel)="cancelUpdateModal()"
                                    (nzOnOk)="okUpdateModal()"
                                    [nzFooter]="null" 
                                    class="updateModal">
                                    <ng-container *nzModalContent>
                                        <!--STEPPER UPDATE-->
                                        <div nz-row>
                                            <div nz-col nzSpan="24">
                                                <nz-steps [nzCurrent]="current">
                                                    <nz-step nzTitle="Job description"></nz-step>
                                                    <nz-step nzTitle="Requirements"></nz-step>
                                                    <nz-step nzTitle="Finishing"></nz-step>
                                                </nz-steps>
                                        
                                                <div class="steps-content">
                                                    <div *ngIf="this.indexUpdate==='First-content-update'">
                                                        <form nz-form nzLayout="vertical" [formGroup]="updateJobFormStep1" >
                                                            <div nz-row>
                                    
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label" >Job Title</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" nzErrorTip="Please input a title">
                                                                            <input nz-input formControlName="title" class="form-input-job"  placeholder="Title"  />
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                   
                                                                </div>
                                                            </div>
    
                                                            <div nz-row nzGutter="8">
                                    
                                                                <div nz-col nzSpan="12">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label">Job Type</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical"  nzErrorTip="Please select a job type" >
                                                                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Type" formControlName="jobType"  >
                                                                                <nz-option *ngFor="let type of jobType" [nzLabel]="type" [nzValue]="type" ></nz-option>
                                                                            </nz-select>
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                   
                                                                </div>
                                                                <div nz-col nzSpan="12">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label"  nzErrorTip="Please select a job industry">Job Industry</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" nzErrorTip="Please select a job industry">
                                                                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Job Industry" formControlName="sector" >
                                                                                <nz-option *ngFor="let type of jobSector" [nzLabel]="type" [nzValue]="type"></nz-option>
                                                                            </nz-select>
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                   
                                                                </div>
                                                            </div>
    
                                                            <div nz-row>
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label">Description</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" >
                                                                            <textarea rows="4" nz-input formControlName="description" class="form-input about-input-job" placeholder="Write something about your company.." ></textarea>
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                </div>
                                                            </div>
    
                                                        </form>
    
                                                    </div>
    
                                                    <div *ngIf="this.indexUpdate==='Second-content-update'">
                                                        <form nz-form nzLayout="vertical" [formGroup]="updateJobFormStep2">
                                                            <div nz-row>
                                    
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label" >Experience </nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required experience">
                                                                            <input nz-input formControlName="experience" class="form-input-job"  placeholder="Required experience"  />
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                   
                                                                </div>
                                                            </div>
    
                                                            <div nz-row>
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label">Job Level</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required job level">
                                                                            <input nz-input formControlName="diploma" class="form-input-job"  placeholder="Required Job Level"  />
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                </div>
                                                            </div>
    
                                                            <div nz-row>
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label">Skills</nz-form-label>
            
                                                                        <nz-form-control nzSpan="vertical">
                                                                           <div class="tags-container">
                                                                                <div class="tags-display">
                                                                                    <nz-tag
                                                                                    *ngFor="let tag of updatedJob.skills; let i = index"
                                                                                    [nzMode]="'closeable'"
                                                                                    (nzOnClose)="handleCloseUpdate(tag.id)"
                                                                                    class="tag">
                                                                                    {{ sliceTagNameUpdate(tag.skill) }}
                                                                                    </nz-tag>
                                                                                </div>
                                                                                
                                                                                <nz-tag *ngIf="!inputVisibleUpdate" class="editable-tag" nzNoAnimation (click)="showInputUpdate()" class="new-tag">
                                                                                    <i nz-icon nzType="plus"></i>
                                                                                    Add SKill
                                                                                </nz-tag>
                                                                                <input
                                                                                    #inputElementUpdate
                                                                                    nz-input
                                                                                    *ngIf="inputVisibleUpdate"
                                                                                    type="text"
                                                                                    [formControl]="inputValueControlUpdate"
                                                                                    (blur)="handleInputConfirmUpdate()"
                                                                                    (keydown.enter)="handleInputConfirmUpdate()"
                                                                                    class="form-input-job"
                                                                                />
                                                                           </div>
    
    
                                                                        </nz-form-control>
                                                                       
                                                                    </nz-form-item>
                                                                </div>
                                                            </div>
    
                                                           
                                                            
                                                        </form>
    
                                                    </div>
    
                                                    <div *ngIf="this.indexUpdate==='third-content-update'">
                                                        <form nz-form nzLayout="vertical" [formGroup]="updateJobFormStep3" (ngSubmit)="addJob()">
                                                            <div nz-row>
                                    
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label" >Job Location</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required experience">
                                                                            <input nz-input formControlName="location" class="form-input-job"  placeholder="Location"  />
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                   
                                                                </div>
                                                            </div>
    
                                                            <div nz-row>
                                                                <div nz-col nzSpan="24">
                                                                    <nz-form-item>
                                                                        <nz-form-label nzSpan="vertical" class="form-label">Deadline</nz-form-label>
                                                                        <nz-form-control nzSpan="vertical" nzErrorTip="Please input the required job level">
                                                                            <nz-date-picker
                                                                                nzFormat="yyyy-MM-dd HH:mm:ss"
                                                                                [nzDisabledDate]="disabledDate"
                                                                                [nzDisabledTime]="disabledDateTime"
                                                                                [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }"
                                                                                formControlName="deadLine"
                                                                                class="datePicker"
                                                                            ></nz-date-picker>
                                                                        </nz-form-control>
                                                                    </nz-form-item>
                                                                </div>
                                                            </div>
    
                                                           
    
                                                           
                                                            
                                                        </form>
    
                                                    </div>
                                                </div>
    
    
                                                <div class="steps-action">
                                                        <button nz-button nzType="default" (click)="preUpdate()" *ngIf="currentUpdate > 0" class="stepper-btn">
                                                        <span>Previous</span>
                                                        </button>
                                                        <button nz-button nzType="default" (click)="nextUpdate()" *ngIf="currentUpdate < 2" class="stepper-btn">
                                                        <span>Next</span>
                                                        </button>
                                                        <button nz-button nzType="primary" (click)="doneUpdate()" *ngIf="currentUpdate === 2" class="stepper-btn">
                                                        <span>Update Job</span>
                                                        </button>
                                                </div>
                                            </div>
                                       </div>
                                       <!--STEPPER UPDATE-->
                                       
                                    
                                    </ng-container>
                                </nz-modal>
                            <!--UPDATE JOB MODAL-->
                        </ng-template>

                        <ng-template #candidates>
                            <a nz-button routerLink="/account/candidates" (click)="displayCandidates(job.id)" class="job-candidates-btn"><fa-icon [icon]="usersIcon" nz-tooltip nzTooltipTitle="Candidates" ></fa-icon></a> 
                         </ng-template>

                        <ng-template #deleteJob>
                           <button nz-button nzType="default" (click)="deletJobPost(job.id)" class="delete-job-btn" nz-tooltip nzTooltipTitle="Delete Job"><fa-icon [icon]="deleteIcon"  class="delete-job-icon"></fa-icon></button> 
                        </ng-template>

                        
        
                    

                    </div> 
                    <div nz-row>
                        <div nz-col nzSpan="12" nzOffset="6">
                    
                            <div class="pagination">
                                <nz-pagination [nzPageIndex]="currentPageSearch" [nzPageSize]="itemsPerPageSearch" [nzTotal]="totalItemsSearch" (nzPageIndexChange)="currentPageSearch = $event"></nz-pagination>
                            </div>
                        
                        </div>
                    </div>
                </div>
                
            </div>
            <!--COMPANY JOBS-->

            <!--PASSWORD -->

            <div *ngIf="selectedProfileOption==='security'">
                <div nz-row class="top-text">
                    <h3>Update Password</h3> 
                </div>
                
                <div nz-row >
                    <div nz-col nzSpan="24">
                        <nz-alert nzType="error" nzCloseable nzMessage={{invalidOldPassError}} nzShowIcon  (nzOnClose)="afterClose()"
                        *ngIf="invalidOldPassError !=='' " ></nz-alert>

                        <nz-alert nzType="success" nzCloseable nzMessage={{successUpdatePass}} nzShowIcon  (nzOnClose)="afterCloseSuccessUpdate()"
                        *ngIf="successUpdatePass !=='' " ></nz-alert>

                        <form nz-form nzLayout="vertical"  [formGroup]="validateFormPass" (ngSubmit)="updatePassForm()">
                        

                            <div class="pass-field">
                                <nz-input-group [nzSuffix]="suffixTemplateOld" class="pass-input-grp">
                                    <nz-form-label nzSpan="vertical" class="pass-input-label">Old Password</nz-form-label>
                                    <nz-form-control nzSpan="vertical">
                                        <input
                                        nz-input
                                        [type]="passwordVisibleOld ? 'text' : 'password'"
                                        placeholder="Old password"
                                        formControlName="oldpass"
                                        (ngModelChange)="validateNewPassword()"
                                        class="input-pass"
                                    />

                                        <ng-container *ngIf="validateFormPass.get('oldpass')?.hasError('required')&&(validateFormPass.get('oldpass')?.touched || validateFormPass.get('oldpass')?.dirty) " >
                                            <div class="errorPass">Please input your old password</div>
                                        </ng-container>
            
                                    </nz-form-control>
                                    
                                    
                                </nz-input-group>
                                <ng-template #suffixTemplateOld>
                                    <i nz-icon [nzType]="passwordVisibleOld ? 'eye-invisible' : 'eye'" (click)="passwordVisibleOld = !passwordVisibleOld"
                                    class="eye-icon-pass"
                                    [class.error-icon]="validateFormPass.get('oldpass')?.hasError('required') && (validateFormPass.get('oldpass')?.touched || validateFormPass.get('oldpass')?.dirty)"
                                    ></i>
                                </ng-template>
            
                            </div>

                            <div class="pass-field">
                                <nz-input-group [nzSuffix]="suffixTemplate" class="pass-input-grp">
                                    <nz-form-label nzSpan="vertical" class="pass-input-label">New Password</nz-form-label>
                                    <nz-form-control nzSpan="vertical"  >
                                        <input
                                        nz-input
                                        [type]="passwordVisible ? 'text' : 'password'"
                                        placeholder="new password"
                                        formControlName="password"
                                        (ngModelChange)="validateConfirmPassword()"
                                        class="input-pass"
                                    />

                                        <ng-container *ngIf="validateFormPass.get('password')?.hasError('required')&&(validateFormPass.get('password')?.touched || validateFormPass.get('password')?.dirty) " >
                                            <div class="errorPass">Please input your password</div>
                                        </ng-container>

                                       
                
                                        <ng-container *ngIf="validateFormPass.get('password')?.hasError('confirm')&&(validateFormPass.get('password')?.touched || validateFormPass.get('password')?.dirty) " >
                                            <div class="errorPass">New password should be different from your old one</div>
                                        </ng-container>
            
                                    </nz-form-control>
                                    
                                    
                                </nz-input-group>
                                <ng-template #suffixTemplate>
                                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" 
                                    class="eye-icon-pass"
                                    [class.error-icon]="validateFormPass.get('password')?.hasError('required') && (validateFormPass.get('password')?.touched || validateFormPass.get('password')?.dirty)"
                                    ></i>
                                </ng-template>
            
                            </div>
                        

                            <div class="pass-field">
                                <nz-input-group [nzSuffix]="suffixTemplateConf" class="pass-input-grp">
                                    <nz-form-label nzSpan="vertical" class="pass-input-label">Confirm Password</nz-form-label>
                                    <nz-form-control nzSpan="vertical">
                                        <input
                                        nz-input
                                        [type]="passwordVisibleConf ? 'text' : 'password'"
                                        placeholder="confirm your password"
                                        formControlName="confirm"
                                        class="input-pass"
                                        />

                                        <ng-container *ngIf="validateFormPass.get('confirm')?.hasError('required')&&(validateFormPass.get('confirm')?.touched || validateFormPass.get('confirm')?.dirty) " >
                                            <div class="errorPass">Please confirm your password</div>
                                        </ng-container>
                
                                        <ng-container *ngIf="validateFormPass.get('confirm')?.hasError('confirm')&&(validateFormPass.get('confirm')?.touched || validateFormPass.get('confirm')?.dirty) " >
                                            <div class="errorPass">Password is inconsistent</div>
                                        </ng-container>


                                        
                                    
            
                                    </nz-form-control>
                                
                                </nz-input-group>
            
                                <ng-template #suffixTemplateConf>
                                    <i nz-icon [nzType]="passwordVisibleConf ? 'eye-invisible' : 'eye'" (click)="passwordVisibleConf = !passwordVisibleConf"
                                    class="eye-icon-pass"
                                    [class.error-icon]="(validateFormPass.get('confirm')?.hasError('required')&&(validateFormPass.get('confirm')?.touched || validateFormPass.get('confirm')?.dirty) ) || ( validateFormPass.get('confirm')?.hasError('confirm')&&(validateFormPass.get('confirm')?.touched || validateFormPass.get('confirm')?.dirty) ) "
                                    ></i>
                                </ng-template>
                            </div>
                            <div class="login-form-actions">
                                <button nz-button class="update-form-btn" [nzType]="'primary'">Update</button>
                            </div>

                        
                        

                        </form>
                    </div>

                </div>
            </div>

            <!-- END PASSWORD -->

           

            

        </div>

    </div>

</div>
