@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.profile-btn{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
}

/*btn*/
.btn-user-profile{
    margin-bottom: 25px;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    font-weight:600 ;
    font-size: 100%;
    transition: .3s;
    box-shadow: 0 2px 9px 0px rgba(34,12,43, 0.1);

    display: flex;
    align-items: center; 
}

.btn-user-profile:hover{
    background-color:#2563eb;
    color: #fff;
}

.btn-user-profile:focus{
    background-color:#2563eb;
    color: #fff;
}

.profile-icon{
    margin-right: 12px;
    font-size: 18px;
}


/*logout btn*/
.logoutIcon{
    color: #ff4764;
    font-size: 24px;
    transition: color 0.3s;
}

.logoutIcon:hover{
    color: #fff;
}

.logout-btn{

    margin-bottom: 25px;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    font-weight:600 ;
    font-size: 100%;
    transition: .3s;
    box-shadow: 0 2px 9px 0px rgba(34,12,43, 0.1);
    background-color: #ffbfc9;
    color: #ff4764;
    display: flex;
    align-items: center; 
    
}

.logout-btn:hover{
    color: #fff;
    background-color: #ff4764;
}

.logout-btn:hover .logoutIcon {
    color: #fff;
}

/*user profile form*/



/*stepper*/

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    /*text-align: center;*/
    padding-top: 10px;
    padding-left: 25px;
}

.steps-action {
    margin-top: 24px;
}

/* education form*/

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #ff4764;
    flex-shrink: 0;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #ff8396;
}
/*
.passenger-input {
    width: 300px !important;
    margin-left: 5px;
    margin-right: 8px;
    letter-spacing:0.1px;
    font-size: 14px;
    height: 30px!important;
}
*/

/*education container*/

.education-container{
    display: flex;
    align-items: center;
    gap: 8px;
}



.input-container {
    flex-grow: 1;
    display: flex;
    gap: 8px;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

/*
.input-container input {
    flex-grow: 1;
}*/

.passenger-input,
.input-container input {
    letter-spacing: 0.1px;
    font-size: 14px;
    height: 30px !important;
    width: 100%;
}



nz-date-picker{
    border-radius: 8px;
    height: 30px!important;
    flex-grow: 1;
    width: 100%;
}



.submit-ed-btn, .add-button, .cv-btn-view , .cv-btn-download{
    border-radius: 8px;
    font-weight: 600;
}

/*tags*/

.editable-tag{
    cursor: pointer;
    border-radius: 8px;
    height: 32px!important;
    font-size: 14px;
    font-weight: 600;
    border-style: dashed;
    border-color: #d9d9d9;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 16px;

    width: 400px;
}

.skills-input{
    width: 350px!important;
    height: 35px!important;
}

.skills-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.skills-btn{
    margin-left: -35px;
}





/* user cv*/
.cv-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.cv-btn-view{
   
    height: 30px;
    width: 180px;
}

.cv-btn-download{
    background-color: #03417c;
    border-color: #03417c;
    color: #fff;
    height: 30px;
    width: 180px;
}

.cv-btn-download:hover{
    background-color: #035aaac7;
    border-color: #035aaac7;
    color: #fff;
}

/*
#cv {
   
    visibility: hidden;   
}
*/


.hide-for-pdf {
    display: none;
}



/* cv generated*/
.cv-user-info-right{
    background-color: #001529;
}

/* user cv*/

/*user info */

.user-avatar{
    font-weight: 600;
    font-size: 24px;
}



/* modal */
.modal-but-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
  
.modal-btn-delte{
    border: none;
    color: #ff4d4f;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
  
.modal-btn-delte:disabled{
    border: none;
    color: #ff4d4f;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: transparent;
}
  
.modal-btn-update{
    border: none;
    color: #03417c;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
  
/* end modal*/
.user-info{
    background-color: rgba(255,255,255,.3);
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    width: 60%;

    padding: 20px;
    align-items: center;
    margin: 0 0 10px;
}

.user-info .user-img{
    border-radius: 8px;
    width: 100px;
}

.media{
    display: flex;
    align-items: flex-start;

}

.media-body{
    margin-left: 15px;
}

.media-body h3{
    font-weight: 700;
}

.view-cv-btn{
    background-color: #2563eb;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    border-color: #2563eb;
   
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;

}

.view-cv-btn:hover{
    border-color: #fff;
    background-color: #fff;
    color: #2563eb;
}

.profile-form{
    float: left;
   
}

/*form*/
.profile-form{
    float: left;
   
}

.profile-title{
    font-weight: 700;
    color: #05264E;
    font-size: 25px;
}

.form-label{
    color: #4F5E64!important;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;

}

.form-input{
    border: 1px solid #E0E6F6;
    border-radius: 8px;
    width: 100%;
    height: 53px;
    font-family: 'Rubik', sans-serif;

    
}

.about-input{
    height: 130px;
}


.update-form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 35px;
    border-radius: 8px;
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    font-weight: 500;
    background-color: #2563eb;
}

.update-form-btn:hover{
    transform: translateY(-2px);
    background-color: #05264E;
    border-color: #05264E;
    color: #fff;
}
/*end form*/

/*card*/
.profile-card{
    float: right;
   margin-top: 50px;
}
.user-info-card{
    border-radius: 10px;
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    border: 1px solid #E0E6F6;
    
    margin-left: 50px;
    
}
.user-info-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 9px 0px rgba(34,12,43, 0.1);
}
.user-photo{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 15px;
}

.btn-container{
    position: absolute;
    transform: translate(185%, 368%);
}
.update-img-icon{
    font-size: 17px;
    color: #05264E;
}
.user-info-container{
    display: flex;
    flex-direction: column;
}

.user-info-container h3{
    font-weight: 700;
    color: #05264E;
    font-size: 26px;
}
.user-info-container p{
    color: #6c757d;
    size: 16px;
}
.user-avatar{
    border-radius: 10px;
    font-weight: 600;
    font-size: 50px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.user-img{
    width: 150px;
    height: 150px; 
    border-radius: 10px; 
}
.user-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-job-btn{
    border: none;
    color: #ff4764;
}

.delete-job-btn:hover{
    color: #ffbfc9;
}

.job-candidates-btn{
    border: none;
    background-color: transparent;
    color: #2563eb;
}
.job-candidates-btn:hover{
    color: #05264E;
}

.update-job-btn{
    border: none;
    color: #1d4fd8;
    background-color: transparent;
}

.update-job-btn:focus{
    border: none;
}


/*end card*/
.profile-title{
    font-weight: 700;
    color: #05264E;
    font-size: 25px;
}

/*posted jobs*/
.job-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.job-search-input{
    border: 1px solid #E0E6F6;
    height: 43px;
   border-right: none;
   border-top-left-radius: 8px;
   border-bottom-left-radius:8px ;
}

.job-serach-btn{
    height: 43px;
    width: 10%;
    border-top-right-radius:8px ;
    border-bottom-right-radius: 8px;
    box-shadow: none;
    background-color: #2563eb;
    border-color: #2563eb;
}

.job-cards{
    margin-top:25px ;
}

.job-location-title{
    display: grid;
    grid-template-columns: 24px auto;
    margin-top: -3px;
}
.job-location-title p{
    font-size: .9rem;
}

.job-title{
    font-weight: 600;
    font-size:1.3rem;
}

.card-footer{
    margin-top: 25px;
    margin-bottom: -25px;
}
.job-type-container{
    float: left;
}

.job-type{
    color: #1d4fd8; 
    font-weight: 600;
    background-color: #1d4fd826;
    font-size: 14px;

    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.375rem; 
    padding-right: 0.375rem; 
}

.job-date-container{
    float: right;
}

.job-date{
    color: #718096;
    font-size: 0.875rem;
}

.job-card{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.job-card:hover{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    border-radius: 0.375rem;
}

.jobs-num{
    font-weight: bold;
    font-size:.9rem;
}

.candidates-num{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-title{
    color: #001529;
    font-weight: 600;
    font-size:1.3rem;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
}

.top-text h3{
    color: #05264E;
    font-size: 25px;
    font-weight: 700;
}

.top-text p{
    color: #4F5E64;
    font-size: 14px;

}
.skill-tag{
    width:35%;
    height: 25px;
    font-size: 14px;
    margin-top: 5px;
}

.job-alert-location{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.job-alert-location p{
    color: #6c757d;
}
.job-alert-icon{
    margin-right: 5px;
    color: #6c757d;

}

.skills-label p{
    font-size:16px;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    margin-bottom: -1px;
}

.skills-label span{
    color: #6c757d;
    font-family: 'Rubik', sans-serif;
    font-size:14px;
}
.selected-skill {
    background-color: #007bff; 
    color: #fff; 
   
}

.jobAlert-btn{
    margin-top: 5px;

}



.job-alert-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 35px;
    border-radius: 8px;
    transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    font-weight: 500;
    background-color: #2563eb;
    margin-top: 15px;
}

.job-alert-btn:hover{
    transform: translateY(-2px);
    background-color: #05264E;
    border-color: #05264E;
    color: #fff;
}

/*password*/
.top-text{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
}

.top-text h3{
    color: #05264E;
    font-size: 25px;
    font-weight: 700;
}

.top-text-link{
    color:#03417c ;
    font-size: 23px;
}

.top-text p{
    font-size: 16px;
    color: #6c757d;
    margin-top:-15px;
}

.pass-field{
    margin-bottom: 25px;
    position: relative;
}
.eye-icon-pass {
    cursor: pointer;
    font-size: 17px;
    position: absolute;
    top: 50%; /* center vertically */
    right: 10px; /*right spacing */
    transform: translateY(30%);

}

.pass-input-grp{
    all: unset;
    position: relative;
}

.pass-input-label{
    

    color: #4F5E64!important;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
}

nz-alert{
    margin-bottom: 5px;
    margin-right: 90px;
}
.errorPass{
    color: #ff4d4f;
    margin-left:15px;
}

.error-icon{
    color: #ff4d4f;
    cursor: pointer;
    font-size: 17px;
    position: absolute;
    top: 50%; /* center vertically */
    right: 10px; /*right spacing */
    transform: translateY(-50%);
}


.input-pass{
    border: 1px solid #E0E6F6;
    border-radius: 8px;
    width: 100%;
    height: 53px;
    
}
/*end password*/