<nz-layout class="layout">
  
    <app-navbar></app-navbar>
    
    <nz-content>
      <div class="inner-content">

        <div class="card-login">

            <div class="register-text">
                <h1>Job <span class="register-span">Finder</span></h1>
            </div>


            <div class="password-text">
                <h3>Password Help</h3>
                <p>Enter your email address. You will receive an email with a link to reset your password.</p>
            </div>

            <nz-alert nzType="success" nzCloseable [nzMessage]="emailSentSuccess" nzShowIcon  (nzOnClose)="afterClose()"
            *ngIf="emailSentSuccess !=='' " ></nz-alert>

            <nz-alert nzType="error" nzCloseable [nzMessage]="userNotFoundErr" nzShowIcon  (nzOnClose)="afterCloseError()"
            *ngIf="userNotFoundErr !=='' " ></nz-alert>
            
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          
              <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
                  <nz-input-group  nzPrefixIcon="user">
                    <input type="email" nz-input formControlName="email" placeholder="Email" />
                  </nz-input-group>
  
                  <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('email')">This E-mail is not valid</ng-container>
                    <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">There's no user registered with this email</ng-container>
                  </ng-template>
                    
                </nz-form-control>
              </nz-form-item>
              
              <div class="login-form-actions">
                <button nz-button  [nzLoading]="isLoadingOne" class="login-form-button login-form-margin" [nzType]="'primary'">Retrieve password</button>
              </div>
  
              <div>
                <a class="back-sign-in" routerLink="/auth/login"><span nz-icon nzType="arrow-left" nzTheme="outline"></span>Back to Sign in</a>
              </div>
    
            </form>
        </div>

      </div>
    </nz-content>

    <app-footer></app-footer>
</nz-layout>